:root{
  --container_size: 4rem;
}


.basket_icon_wrapper{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;

  width: var(--container_size);
  height: var(--container_size);

  /* border: 1px solid; */

  /* border:1px solid black; */
}

.basket_png{
  width:70%;
  height: 70%;
}

.amount_icon{
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  margin-left: 2.7%;
  margin-top: 0.80%;

  background-color:green;
  height: 1.04rem;
  width: 1.04rem;

  font-size:75%;
  font-weight: bold;
  color: black;

  border-radius:50px;
}

.price_icon{
  width: 80%;
  height: 20%;

  color: white;
  font-size: 65%;
  line-height:initial;
  text-align: center;

  border-radius: 10rem;

  background-color: brown;
}